@model FPTJobMatch.Views.Home.AboutUsModel
@{
    ViewData["Title"] = "AboutUs";
}

<h1>@ViewData["Title"]</h1>
<p>FPTJobMatch provides a place for employers to discover new employees and job seekers to find work more efficiently than traditional ways.</p>