@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <div class="col-sm-12">
        <h1 class="display-4">Welcome to FPTJobMatch!</h1>
        <p>FPTJobMatch provides a place for employers to discover new employees and job seekers to find work more efficiently than traditional ways.</p>
    </div>
</div>
