@{
    ViewData["Title"] = "Privacy";
}
<h1>@ViewData["Title"]</h1>

<p>This page is used to detail your site's privacy policy.</p>
<p>1. Do not share your account with other persons</p>
<p>2. We reserve the right to utilize your information for website purposes</p>
<p>3. Contact the admin to assign your role after you registered your account</p>
<p>4. Do NOT gain access to pages outside of your designated role</p>
<p>Please comply with our privacy policy, otherwise you might face harsh penalties from the admins.</p>
